<div class="banner">
  <h1>Add a new user</h1>
<form action="/create" method="post">
  <div>
    <label for="new_name">What is your name?</label>
    <input type="text" name="new_name">
    <input type="submit" value="Add user">
  </div>
</form>
</div>
