<div class="banner">
  <h1>Welcome to your Journal</h1>
  <h3>Sorry, your name doesn't match</h3>
  <form action="/home" method="post">
    <div>
      <label for="name">What is your name?</label>
      <br>
      <input type="text" name="name">
      <input type="submit" value="login">
    </div>
  </form>
  <p><strong>Or create a <a class="new-user" href="/create">new user</a></strong></p>
</div>
