<div class="banner">
  <h1>Add an entry</h1>
<form action="/elements" method="post">
  <div>
    <label for="date">Date</label>
    <textarea id="date" name="date" rows="1" cols="60" placeholder="Month Date, Year"></textarea>
    <br>
    <label for="entry">Entry</label>
    <textarea id="entry" name="entry" rows="3" cols="60" placeholder="What happened today?"></textarea>
    <br>
    <input type="submit" value="Add to journal">
  </div>
</form>
</div>
