@import url("components/banner.css");
@import url("components/product.css");

.small-banner {
  height: 50vh;
  color: rgb(195, 195, 195);
  background: linear-gradient(135deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.3) 50%),
            url('https://picsum.photos/id/1073/2000/1000');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.small-banner h1 {
  font-size: 50px;
  font-weight: bold;
}

.add-entry {
  margin-left: 20px;
}

body {
  color: rgba(10, 10, 10, 0.9);
  background-color: rgb(230, 230, 230);
}

input {
  color: rgb(10, 10, 10);
}

textarea {
  display: flex;
  color: rgb(10, 10, 10);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.new-user {
  color: rgb(195, 195, 195);
}

.new-user:hover {
  color: rgb(15, 15, 15);
  text-decoration: none;
}
